


.content{
  padding-bottom: 1em;
  position: absolute;
  top: 40%;
  margin-left: 10%;
  margin-right: 10%;
  color: white;
  text-align: center;
}

.scolink{
  position: absolute;
  top: 30%;
  left: 45%;
  width: 10%;
  display: flex;
  align-items:center;
  transform: translate(0%, -60%);
}

.sco { 

  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  filter: brightness(30%);

}

.no-scroll{
  overflow: hidden;
  max-height: 100%;
 
}


.title{
  color: gold;
  font-size: 25px;
}