
.about{
  position: relative;
  text-align: center;
  color: white;
  
}

.content{
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -90%);
  font-size: 18px;
  color: white;
}

.sco { 

  background-image: url(../../images/pegasus.png);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  filter: brightness(30%);

}

.no-scroll{
  overflow: hidden;
  max-height: 100%;
 
}
.scolink{
  position: absolute;
  top: 40%;
  left: 3%;
  width: 10%;
  transform: translate(100%, -90%);
  padding-bottom: 1em;
}

.title{
  color: gold;
  font-size: 25px;
}