.home{
    img {
        //let the image take up the full width of the screen
        width: 100%;
        height: 90%;
        object-fit: cover;
        display: flex;
        
        
    }
}

    
    .schedule{
        
        //position the schedule in the center of the screen
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;

        &:hover {
            background-color: whitesmoke;
        }

        //put box around button

        
            border: 2px solid #4CAF50;
            background-color: white;
            color: black;
            padding: 15px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 4px 2px;
            cursor: pointer;
            border-radius: 12px;
        
        
    }
    
    .calendarHome{
        //position the calendar under the schedule button
        position: absolute;
        top: 30%;
        left: 50%;
        transform: translate(-50%, -50%);
        margin-top: 100px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;

        //box around button
        &:hover {
            background-color: whitesmoke;
        }
        
            border: 2px solid #4CAF50;
            background-color: white;
            color: black;
            padding: 15px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 4px 2px;
            cursor: pointer;
            border-radius: 12px;

    }


.no-scrollHome{
    overflow: hidden;
    max-height: 93.4vh;
    
}