.fixed{
    //put center of page
    height:100vh;
    
    justify-content:center;
    align-items:center;
    display:flex;
    
    
    button{
        //put bottom of page
        position: fixed;
        bottom: 0;
        width: 100%;
        height: 30px;
        border: none;
        background-color: gold;
        color: black;
        font-weight: bold;
        cursor: pointer;

    }
    
}

